
<form class="container p-5" (submit)="login($event)" >
  <div class="form-group" >
    <label for="username">Usuario</label>
    <input type="text" class="form-control" name="username" id="username" 
    [(ngModel)]="user.username">
     </div>
  <div class="form-group">
    <label for="password">Contraseña</label>

    <input type="password" class="form-control" name="password" id="password" 
    [(ngModel)]="user.password">
  </div>
  <button type="submit" class="btn btn-dark">Enviar</button>
</form>
<div class="alert alert-danger mx-5" *ngIf="errorMsg">
  {{errorMsg}}
</div>
<div class="alert alert-success mx-5" *ngIf="successMsg">
  {{successMsg}}
</div>






 

