
.nombreCategoria{

    text-align: center;
    font-size: 22px;
    
}
    

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
}

.product{

    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #D697FF;
    width: 24em;
  
}

img {
    border-radius: 0.5em;
    height: 250px;
    display:block;
    margin:auto;
    
}

.nombreproducto {
    text-align: center;
    font-size: 17px;
  
    border-radius: 34px;
    font-family: 'Roboto', sans-serif;
    margin-top: 3px;
    color: black;
   
    }

    .link{
        text-align: center;
        padding-top: 10px;
     
    }
    
    button{
    color: black;
    background-color: #7F7E7E;
    color: white;
    
    }
    